<header>
  <%= link_to image_tag("logo.png", class:"logo"), '/' %>
  <% if user_signed_in? %>
    <nav class="pc-nav">
      <ul class="header-menus">
        <% if request.path.include?("material") %>
          <li><%= link_to "資材情報登録", new_material_path, class:"fas fa-wrench text-decoration-none link-dark" %></li>
        <% end %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt text-decoration-none link-dark" %></li>
      </ul>
    </nav>
    <nav class="sp-nav">
      <div id="hamburger">
        <p class="btn-gNav">
          <span></span>
          <span></span>
          <span></span>
        </p>
        <nav id="gNav" class="">
          <ul class="gNav-menu">
            <% if request.path.include?("material") %>
              <li><%= link_to "資材情報登録", new_material_path, class:"fas fa-wrench text-decoration-none" %></li>
            <% end %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt text-decoration-none" %></li>
          </ul>
        </nav>
      </div>
    </nav>
  <% end %>
</header>
