    <%= render 'shared/error_messages', model: f.object %>
    <p class="attention"><%= flash[:alert] %></p>
    <table class="full-width" >
      <tr style="font-size: 10pt;"><td>資産名（※）</td>
        <td colspan="3">
          <%= f.text_field :name, maxlength: "30" %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>メーカー</td>
        <td colspan="3">
          <%= f.text_field :maker, maxlength: "30" %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>場所（※）</td>
        <td colspan="3">
          <%= f.label :車庫： %>
          <%= f.radio_button :place, :車庫 %>
          <%= f.label :現場： %>
          <%= f.radio_button :place, :現場, onClick:"changeDisabled()" %>
          <%= f.text_field :other_places, class: 'other_places-input', placeholder: '現場の場合入力' %>

          <% if @material.place == "現場" && @material.other_places != nil %>
            <%= f.text_field :other_places, id: 'other_places', placeholder: '現場の場合入力' %>
          <% end %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>使用者（※）</td>
        <td colspan="3">
          <%= f.collection_select :user, UserSelect.all, :name, :name, {include_blank:'選択してください'} %>
          <%= f.text_field :other_users, class: 'other_users-input', placeholder: 'その他の場合入力' %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>使用期間（※）</td>
        <td colspan="3">
          <%= f.text_field :period, placeholder:"例）2010/12~2021/03" %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>購入日</td>
        <td colspan="3">
          <%= f.date_field :purchase_date %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>購入金額</td>
        <td colspan="3">
          <%= f.text_field :price , class:"price-input", placeholder:"例）300" %>円
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>修理点検日</td>
        <td colspan="3">
          <%= f.date_field :inspection_date %>
        </td>
      </tr>

      <tr style="font-size: 10pt;"><td>メモ（※）</td>
        <td colspan="3"><%= f.text_area :memo, maxlength: "200" %></td>
      </tr>
    </table>
