<%= render "attendances/header" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_with(model: @vehicle, local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="mb-3">
          <%= f.label :number, "ナンバー", class: "form-label" %>
          <%= f.text_field :number, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :vehicle_type, "車種", class: "form-label" %>
          <%= f.select :vehicle_type, Vehicle.vehicle_types.keys.map { |k| [vehicle_type_label(k), k] }, {}, class: "form-select" %>
        </div>

        <%= f.submit "車両の選択肢に追加", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <!-- 一覧の表示 -->
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h2>車両一覧</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ナンバー</th>
            <th>車種</th>
            <% if current_user.authority == 0 %>
              <th>車両削除(管理者のみ)</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @vehicles.each do |vehicle| %>
            <tr>
              <td><%= vehicle.number %></td>
              <td><%= vehicle_type_label(vehicle.vehicle_type) %></td>
              <% if current_user.authority == 0 %>
                <td>
                  <%= link_to '削除', vehicle_path(vehicle), method: :delete, data: { confirm: "#{vehicle_type_label(vehicle.vehicle_type)}の#{vehicle.number}を削除してもよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
