<ul class="count">
  <li>吉久保：<%= @materials.where(user: "吉久保").count %></li>
  <li>加藤：<%= @materials.where(user: "加藤").count %></li>
  <li>小沢：<%= @materials.where(user: "小沢").count %></li>
  <li>近藤：<%= @materials.where(user: "近藤").count %></li>
  <li>石川：<%= @materials.where(user: "石川").count %></li>
  <li>笹沼：<%= @materials.where(user: "笹沼").count %></li>
</ul>
<ul class="count">
  <li>小川：<%= @materials.where(user: "小川").count %></li>
  <li>宮下：<%= @materials.where(user: "宮下").count %></li>
  <li>古川：<%= @materials.where(user: "古川").count %></li>
  <li>大越：<%= @materials.where(user: "大越").count %></li>
  <li>山品：<%= @materials.where(user: "山品").count %></li>
  <li>長谷川：<%= @materials.where(user: "長谷川").count %></li>
</ul>
<ul class="count">
  <li>皆川：<%= @materials.where(user: "皆川").count %></li>
  <li>大友：<%= @materials.where(user: "小川").count %></li>
  <li>聖和：<%= @materials.where(user: "聖和").count %></li>
  <li>裕建：<%= @materials.where(user: "裕建").count %></li>
  <li>山形工業：<%= @materials.where(user: "山形工業").count %></li>
  <li>その他：<%= @materials.where(user: "その他").count %></li>
</ul>
