<ul class="count">
  <li>車庫：<%= @materials.includes("車庫").count %></li>
  <li>吉久保：<%= @materials.includes("吉久保").count %></li>
  <li>加藤：<%= @materials.includes("加藤").count %></li>
  <li>小沢：<%= @materials.includes("小沢").count %></li>
  <li>近藤：<%= @materials.includes("近藤").count %></li>
  <li>石川：<%= @materials.includes("石川").count %></li>
</ul>
<ul class="count">
  <li>笹沼：<%= @materials.includes("笹沼").count %></li>
  <li>小川：<%= @materials.includes("小川").count %></li>
  <li>宮下：<%= @materials.includes("宮下").count %></li>
  <li>古川：<%= @materials.includes("古川").count %></li>
  <li>大越：<%= @materials.includes("大越").count %></li>
  <li>山品：<%= @materials.includes("山品").count %></li>
</ul>
<ul class="count">
  <li>長谷川：<%= @materials.includes("長谷川").count %></li>
  <li>皆川：<%= @materials.includes("皆川").count %></li>
  <li>大友：<%= @materials.includes("小川").count %></li>
  <li>聖和：<%= @materials.includes("聖和").count %></li>
  <li>裕建：<%= @materials.includes("裕建").count %></li>
  <li>山形工業：<%= @materials.includes("山形工業").count %></li>
</ul>
