<%= render 'shared/error_messages', model: f.object %>

<div class="container">
  <!-- materialテーブル -->
  <%= render 'material_fields', f: f %>

  <!--locationテーブル -->
  <%= f.fields_for :locations do |location_fields| %>
    <%= render 'location_fields', f: location_fields, index: location_fields.index + 1 %>
  <% end %>

  <!-- repairテーブル -->
  <%= f.fields_for :repair do |repair| %>
    <%= render 'repair_fields', f: repair %>
  <% end %>

  <!-- purchaseテーブル -->
  <% if current_user.authority == 0 %>
    <%= f.fields_for :purchase do |purchase| %>
      <%= render 'purchase_fields', f: purchase %>
    <% end %>
  <% end %>
</div>
