<% unless f.object.new_record? %>
  <div class="form-check">
    <%= f.check_box :_destroy, class: 'form-check-input' %>
    <%= f.label :_destroy, "この現場を削除する", class: 'form-check-label' %>
  </div>
<% end %>
<div class="card mb-4">
  <div class="card-header">
    現場(<%= index %>)
  </div>

  <div class="card-body">
    <div class="form-group row">
      <%= f.label :place, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.text_field :place, class: 'form-control', placeholder: '現場名を入力' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :use_count, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.number_field :use_count,  placeholder:"数量入力", min:0 %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :user, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :user, UserSelect.all, :name, :name, {include_blank:'使用者選択'} %>
        <% if current_page?(new_material_path) || f.object.user != "その他" %>
          <%= f.text_field :other_users, class: 'other_users-input', placeholder: 'その他入力', style:"display: none" %>
        <% elsif  f.object.user == "その他" %>
          <%= f.text_field :other_users, class: 'other_users-input', placeholder: 'その他入力' %>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :period_start, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.date_field :period_start, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :period_end, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.date_field :period_end, class: "form-control" %>
      </div>
    </div>
  </div>
</div>
