<div class="card mb-4">
  <p class="card-header toggle-form">修理</p>

  <div class="<%= [f.object.repair_request, f.object.repair_count, f.object.inspection_date, f.object.inspection_content].any?(&:present?) ? 'card-body' : 'card-body card-body-hidden' %>">
    <div class="form-group row">
      <%= f.label :repair_request, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.text_field :repair_request, class: 'form-control', style:"max-width:200px;" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :repair_count, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.number_field :repair_count, class: 'form-control', style:"max-width:100px;", placeholder:"半角数字", min: 0 %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :inspection_date, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.date_field :inspection_date, class: 'form-control', style:"max-width:150px;" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :inspection_content, class: 'col-sm-2 col-form-label' %>
      <div class="col-sm-10">
        <%= f.text_area :inspection_content, class: 'form-control', maxlength: "200", placeholder: '200文字まで' %>
      </div>
    </div>
  </div>
</div>
