<table>
  <%= render partial: "tr" %>
  <% @materials.each do |material| %>
    <tr class="border border-dark record" onclick= window.location="<%= "/materials/" + material.id.to_s + "/edit" %>"  role="link">
      <td class="border border-dark">
        <%= material.material_name %>  <%# 資産名 %>
      </td>
      <td class="border border-dark">
        <%= material.maker %>  <%# メーカー %>
      </td>

      <td class="border border-dark">
        <%= material.company_count %>  <%# 会社 %>
      </td>

      <%# 現場 %>
      <% locations = material.locations.first(3) %>
      <% 3.times do |i| %>
        <% location = locations[i] %>
        <td class="border border-dark">
          <%= location&.place %>  <%# 現場名 %>
        </td>
        <td class="border border-dark">
          <%= location&.use_count %>  <%# 使用数 %>
        </td>
        <td class="border border-dark">
          <% if location&.user == "その他" && location&.other_users != nil %>
            <%= location&.other_users %>  <%# その他使用者 %>
          <% else %>
            <%= location&.user %>  <%# 使用者 %>
          <% end %>
        </td>
        <td class="period">
          <%= location&.period_start %><br>
          ~<br>
          <%= location&.period_end %>  <%# 使用期間 %>
        </td>
      <% end %>

      <%# 修理中 %>
      <td class="border border-dark">
        <%= material.repair&.repair_count %> <%# 修理数 %>
      </td>
    </tr>
  <% end %>
</table>
