<%= render "header" %>

<div class="material-form container my-3">
  <h2 style="text-align: center;">資材の情報を入力</h2>
  <p style="color:red;">（※）は必須項目です</p>

  <%= form_with(model: @material, local: true) do |f| %>
    <%= render partial: "form", locals: {f: f} %>
    <div class="d-flex justify-content-center">
      <%= f.submit "変更", class: "btn btn-primary btn-lg me-3", style: "margin: 15px;" %>
      <%= link_to "削除", material_path, method: :delete, data: { confirm: "この資材情報を消しますか？" }, class: "btn btn-danger btn-lg", style: "margin: 15px;" %>
    </div>
  <% end %>
</div>
