<%= render "header" %>

<div class="material-new-main container my-3">
  <h2 style="text-align: center;">資材の情報を入力</h2>
  <p class="attention">（※）は必須項目です</p>

  <%= form_with(model: @material, local: true) do |f| %>
    <%= render partial: "register", locals: {f: f} %> <%# 部分テンプレート %>
    <div class="register">
      <%= f.submit "変更", class:"button" %>
      <%= link_to "削除", material_path, method: :delete, data: { confirm: "この資材情報を消しますか？" }, class: "delete" %>
    </div>
  <% end %>
</div>
