<%= render "shared/header" %>
<div class="filter" >
  <%= search_form_for @q, url: result_materials_path do |f| %>
    <div class="user-search">
      <%= f.label :name_cont, '資産名：' %>
      <%= f.text_field  :name_cont %>
    </div>
    <div class="user-search">
      <%= f.label :maker_cont, 'メーカー：' %>
      <%= f.text_field :maker_cont %>
    </div>
    <div class="user-search">
      <%= f.label :place_cont, '場所：' %>
      <%= f.text_field :place_cont %>
    </div>
    <div class="user-search">
      <%= f.label :user_eq, '使用者：'%>
      <%= f.collection_select :user_eq, UserSelect.all, :name, :name, {include_blank:'指定なし'} %>
    </div>
    <div class="user-search">
      <%= f.label :purchase_date_eq, '購入日：' %>
      <%= f.date_field :purchase_date_eq %>
    </div>
    <div class="user-search">
      <%= f.label :inspection_date_eq, '修理点検日：' %>
      <%= f.date_field :inspection_date_eq %>
    </div>
    <%= f.submit '絞り込み' %>
  <% end %>
</div>
<%= paginate @materials %>
<div class="container-table">
    <ul class="count">
        <li>全資産：<%= @materials_count %></li>
        <li>車庫：<%= @materials.where(place: "車庫").count %></li>
    </ul>
  <table class="full-width" >
      <tr>
        <th style="font-size: 10pt;">資産名</th>
        <th style="font-size: 10pt;">メーカー</th>
        <th style="font-size: 10pt;">場所</th>
        <th style="font-size: 10pt;">使用者</th>
        <th style="font-size: 10pt;">使用期間</th>
        <th style="font-size: 10pt;">購入日</th>
        <th style="font-size: 10pt;">購入金額</th>
        <th style="font-size: 10pt;">修理点検日</th>
      </tr>
      <% @materials.each do |material| %>
        <tr onclick= window.location="<%= "/materials/" + material.id.to_s + "/edit" %>"  role="link" class="record">
          <td style="font-size: 10pt;">
            <%= material.name %>  <%# 資産名 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.maker %>  <%# メーカー %>
          </td>
          <% if material.place == "現場" && material.other_places != nil %>
            <td style="font-size: 10pt;">
              <%= material.other_places %>  <%# 場所(車庫以外) %>
            </td>
          <% else %>
            <td style="font-size: 10pt;">
              <%= material.place %>  <%# 場所(車庫) %>
            </td>
          <% end %>
          <% if material.user == "その他" && material.other_users != nil %>
            <td style="font-size: 10pt;">
              <%= material.other_users %>  <%# その他使用者 %>
            </td>
          <% else %>
            <td style="font-size: 10pt;">
              <%= material.user %>  <%# 使用者 %>
            </td>
          <% end %>
          <td style="font-size: 10pt;">
            <%= material.period %>  <%# 使用期間 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.purchase_date %>  <%# 購入日 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.price %> 円 <%# 購入金額 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.inspection_date %>  <%# 修理点検日 %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
