<%= render "header" %>

<div class="calendar container my-3">
  <%= render "search" %>
  <div class="container-table">全資産：<%= Material.all.count %> 修理中：<%= Material.where.not(repair_request:nil, repair_count:nil).count %>
    <%= paginate @materials %>
    <%= render "table" %>
  </div>
</div>
