<%= render "header" %>

<div class="container my-3">
  <%= render "search" %>
  <p>全資産：<%= Material.all.count %> 修理中：<%= Material.where.not(repair_request:nil, repair_count:nil).count %></p>
  <%= paginate @materials %>
  <div class="table-responsive">
    <%= render "table" %>
  </div>
</div>
