<%= render "shared/header" %>
<div class="filter" >
  <%= search_form_for @q, url: result_materials_path do |f| %>
    <%= f.label :name_cont, '資産名：' %>
    <%= f.text_field  :name_cont %>

    <%= f.label :maker_cont, 'メーカー：' %>
    <%= f.text_field :maker_cont %>

    <%= f.label :place_cont, '場所：' %>
    <%= f.text_field :place_cont %>

    <%= f.label :user, '使用者：'%>
    <%= f.text_field  :user_eq %>

    <%= f.label :purchase_date_eq, '購入日：' %>
    <%= f.date_field :purchase_date_eq %>

    <%= f.label :inspection_date_eq, '修理点検日：' %>
    <%= f.date_field :inspection_date_eq %>

    <%= f.submit '絞り込み' %>
  <% end %>
</div>
<%= paginate @materials %>
<div class="container-table">全資産：<%= @materials.count %>
  <table class="full-width" >
      <tr>
        <th style="font-size: 10pt;">資産名</th>
        <th style="font-size: 10pt;">メーカー</th>
        <th style="font-size: 10pt;">場所</th>
        <th style="font-size: 10pt;">使用者</th>
        <th style="font-size: 10pt;">使用期間</th>
        <th style="font-size: 10pt;">購入日</th>
        <th style="font-size: 10pt;">購入金額</th>
        <th style="font-size: 10pt;">修理点検日</th>
      </tr>
      <% @materials.each do |material| %>
        <tr>
          <td style="font-size: 10pt;">
            <%= material.name %>  <%# 資産名 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.maker %>  <%# メーカー %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.place %>  <%# 場所 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.user %>  <%# 使用者 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.period %>  <%# 使用期間 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.purchase_date %>  <%# 購入日 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.price %>  <%# 購入金額 %>
          </td>
          <td style="font-size: 10pt;">
            <%= material.inspection_date %>  <%# 修理点検日 %>
          </td>
        </tr>
      <% end %>
  </table>
</div>
