<% index = local_assigns.fetch(:index) %>
<% style = local_assigns.fetch(:style, '') %>
<tr id="attendance_<%= index %>" style="<%= style %>">
  <%= f.fields_for "attendances_attributes[#{index}]", attendance do |attendance_fields| %>
    <%= render 'shared/error_messages', model: attendance %>
    <% if attendance.persisted? %>
      <td><%= attendance_fields.text_field :client, disabled: true %></td>
      <td><%= attendance_fields.text_field :construction_site, disabled: true %></td>
      <td><%= attendance_fields.text_field :work_content, disabled: true %></td>
      <td><%= attendance_fields.time_field :departure_time, step: 60, class: 'time-field', disabled: true %>
          <%= attendance_fields.time_field :arrival_time, step: 60, class: 'time-field', disabled: true %></td>
      <td><%= attendance_fields.select :worker_ids, grouped_workers_for_select, {}, { class: 'js-searchable-multiple', multiple: true, disabled: true } %></td>
      <td><%= attendance_fields.text_field :remark, disabled: true %></td>
      <td><%= attendance_fields.select :vehicle_ids, grouped_vehicles_for_select, {}, { class: 'js-searchable-multiple', multiple: true, disabled: true } %></td>
    <% else %>
      <%= attendance_fields.hidden_field :date, value: @date %>
      <td><%= attendance_fields.text_field :client %></td>
      <td><%= attendance_fields.text_field :construction_site %></td>
      <td><%= attendance_fields.text_field :work_content %></td>
      <td><%= attendance_fields.time_field :departure_time, step: 60, class: 'time-field' %>
          <%= attendance_fields.time_field :arrival_time, step: 60, class: 'time-field' %></td>
      <td><%= attendance_fields.select :worker_ids, grouped_workers_for_select, {}, { class: 'js-searchable-multiple', multiple: true } %></td>
      <td><%= attendance_fields.text_field :remark %></td>
      <td><%= attendance_fields.select :vehicle_ids, grouped_vehicles_for_select, {}, { class: 'js-searchable-multiple', multiple: true } %></td>
    <% end %>
  <% end %>
</tr>
