<header>
  <%= link_to image_tag("logo.png", class:"logo"), '/' %>
  <% if user_signed_in? %>
    <nav class="pc-nav">
      <ul class="header-menus">
        <li><%= link_to " 勤怠表作成", new_attendance_path, class:"fas fa-pencil-alt text-decoration-none link-dark" %></li>
        <% unless controller_name == 'attendances' && action_name == 'index' %>
          <li><%= link_to " 勤怠表一覧", attendances_path, class:"fas fa-list text-decoration-none link-dark" %></li>
        <% end %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt text-decoration-none link-dark" %></li>
      </ul>
    </nav>
    <nav class="sp-nav">
      <div id="hamburger">
        <p class="btn-gNav">
          <span></span>
          <span></span>
          <span></span>
        </p>
        <nav id="gNav" class="">
          <ul class="gNav-menu">
            <li><%= link_to " 勤怠表作成", new_attendance_path, class:"fas fa-pencil-alt text-decoration-none link-dark" %></li>
            <% unless controller_name == 'attendances' && action_name == 'index' %>
              <li><%= link_to " 勤怠表一覧", attendances_path, class: "fa-list text-decoration-none link-dark" %></li>
            <% end %>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt text-decoration-none" %></li>
          </ul>
        </nav>
      </div>
    </nav>
  <% end %>
</header>
