<%= render "header" %>
<h1 class="d-flex justify-content-center">勤怠表作成</h1>

<%= form_with(model: @attendance_form, url: create_multiple_attendances_path, local: true) do |f| %>
  <%= render partial: "new_table", locals: {f: f} %>
  <div class="register text-center my-3"><%= f.submit "登録", class:"button" %></div>
<% end %>
<button id="add-row" data-index="<%= @attendance_form.attendances.length %>" class="btn btn-primary">行を追加</button>
