<%= render "header" %>

<div class="container my-3">
  <div class="d-flex justify-content-center">
    <% if !@rendered_from_create %>
      <%= render 'navigation_links', prev_path: new_attendance_path(date: @date.prev_day), next_path: new_attendance_path(date: @date.next_day), action_name: '編集', action_path: show_date_attendances_path(date: @date) %>
    <% else %>
      <h1><%= @date %></h1>
    <% end %>
  </div>

  <%= form_with(model: @attendance_form, url: attendances_path, method: :post ,local: true) do |f| %>
    <div class="table-responsive">
      <table class="attendances-table">
        <%= render 'attendance_table_header', delete_column: false %>
        <tbody id="attendance-forms">
          <% @attendance_form.attendances.each_with_index do |attendance, index| %>
            <%= render 'attendance_fields', f: f, attendance: attendance, index: index %>
          <% end %>
          <% new_index = @attendance_form.attendances.length %>
          <%= render 'attendance_fields', f: f, attendance: Attendance.new, index: new_index, style: 'display: none' %>
        </tbody>
      </table>
    </div>
    <%= f.submit '登録', class: "btn btn-primary btn-lg position-fixed bottom-0 end-0 m-3" %>
  <% end %>
  <button id="add-row" data-index="<%= @attendance_form.attendances.length %>" class="btn btn-primary">行を追加</button>
</div>
