<%= render "header" %>

<div class="d-flex justify-content-center">
  <%= link_to '<i class="fas fa-arrow-left fa-lg"></i>'.html_safe, show_date_attendances_path(date: @date.prev_day), class: "align-self-center me-3 px-3" %>
  <h1><%= @date %></h1>
  <%= link_to '<i class="fas fa-arrow-right fa-lg"></i>'.html_safe, show_date_attendances_path(date: @date.next_day), class: "align-self-center ms-3 px-3" %>
  <%= link_to '勤怠追加', new_attendance_path(date: @date), class: "btn btn-primary align-self-center ms-3 px-3" %>
</div>

<%= form_with(url: update_multiple_attendances_path, method: :patch, local: true) do |f| %>
  <table class="attendances-table-update">
    <thead>
      <th>依頼主</th>
      <th>工事場所</th>
      <th>作業内容</th>
      <th>発着時間</th>
      <th>作業員</th>
      <th>備考</th>
      <th>使用車両</th>
      <th>削除</th>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <%= fields_for "attendances[#{attendance.id}]", attendance do |attendance_fields| %>
          <%= render 'shared/error_messages', model: attendance %>
          <tr>
            <td><%= attendance_fields.text_field :client %></td>
            <td><%= attendance_fields.text_field :construction_site %></td>
            <td><%= attendance_fields.text_field :work_content %></td>
            <td><%= attendance_fields.time_field :departure_time, step: 60, class: 'time-field' %><%= attendance_fields.time_field :arrival_time, step: 60, class: 'time-field' %></td>
            <td><%= attendance_fields.select :worker_ids, grouped_workers_for_select, {}, { class: 'js-searchable-multiple', multiple: true } %></td>
            <td><%= attendance_fields.text_field :remark %></td>
            <td><%= attendance_fields.select :vehicle_ids, grouped_vehicles_for_select, {}, { class: 'js-searchable-multiple', multiple: true } %></td>
            <td><%= attendance_fields.check_box :_destroy %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= f.submit '更新', class: "btn btn-primary btn-lg position-fixed bottom-0 end-0 m-3" %>
<% end %>
